<div class="w-1/2 mx-auto">
  <h2 class="font-bold text-4xl mb-6">Sign Up</h2>

  <%= form_with model: @user, local: true, data: { turbo: false } do |form| %>
    <% if @user.errors.any? %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-8">
        <p><strong>There were errors with your submission:</strong></p>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :name, class:"block text-sm/6 font-medium text-gray-900"  %>
    <div class="mt-2 mb-4">
      <%= form.text_field :name, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
    </div>

    <%= form.label :email, class:"block text-sm/6 font-medium text-gray-900"  %>
    <div class="mt-2 mb-4">
      <%= form.email_field :email, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
    </div>

    <%= form.label :password, class:"block text-sm/6 font-medium text-gray-900"  %>
    <div class="mt-2 mb-4">
      <%= form.password_field :password, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
    </div>

    <%= form.label :password_confirmation, class:"block text-sm/6 font-medium text-gray-900"  %>
    <div class="mt-2 mb-4">
      <%= form.password_field :password_confirmation, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
    </div>

    <div class="mt-8">
      <%= form.submit "Sign Up", class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  <% end %>
</div>
