<div class="w-full">
  <h1 class="font-bold text-3xl mb-4"><%= @project.title %></h1>
  <div class="mb-4">
    <span class="text-lg text-gray-700">Status: </span>
    <span class="font-semibold text-blue-600"><%= @project.status.humanize %></span>
  </div>

  <h2 class="text-2xl font-bold mb-2">Change Status</h2>
  <%= form_with model: @project, url: project_path(@project), method: :patch, local: true, class: "mb-6 bg-gray-100 p-4 rounded shadow" do |form| %>
    <div class="flex space-x-4 items-center">
      <%=  form.select :status, Project.statuses.keys.map { |s| [s.humanize, s] }, {}, class: "border rounded px-4 py-2" %>
      <%= form.submit "Update Status", class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>

  <h2 class="text-2xl font-bold mb-2">Status History</h2>
  <ul class="bg-white shadow-md rounded-lg p-4 mb-6">
    <% if @status_changes.present? %>
      <% @status_changes.each do |change| %>
        <li class="border-b last:border-b-0 border-gray-300 p-4">
          <span class="font-semibold italic text-gray-800"><%= change.user_name || "Unknown User" %> set status to: </span>
          <span class="font-semibold text-green-600"><%= Project.statuses.key(change.new_status).humanize %></span>
          <span class="text-gray-500 text-sm">at: <%= change.created_at.strftime("%d %b %Y, %H:%M") %></span>
        </li>
      <% end %>
    <% else %>
      <p class="text-gray-500">No status changes recorded yet</p>
    <% end %>
  </ul>

  <h2 class="text-2xl font-bold mb-2">Comments</h2>
  <ul class="bg-white shadow-md rounded-lg p-4 mb-6">
    <% if @comments.present? %>
      <% @comments.each do |comment| %>
        <li class="border-b last:border-b-0 border-gray-300 p-4">
          <span class="font-semibold italic text-gray-800"><%= comment.user_name || "Unknown User" %> wrote:</span>
          <span class="text-gray-700"><%= comment.content %></span>
          <span class="text-sm"><%=  time_ago_in_words(comment.created_at) %> ago</span>
        </li>
      <% end %>
    <% else %>
      <p class="text-gray-500">No comments yet. Be the first to comment!</p>
    <% end %>
  </ul>

  <h2 class="text-2xl font-bold mb-2">Leave a Comment</h2>
  <%= form_with model: Comment.new, url: project_comments_path(@project), method: :post, local: true, class: "mb-6 bg-gray-100 p-4 rounded shadow" do |form| %>
    <div class="flex space-x-4 items-center">
      <%=  form.text_area :content, class: "w-full border rounded px-4 py-2", placeholder: "Write your comment here..." %>
      <%= form.submit "Post Comment", class: "bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>

  <div class="py-6">
    <%= link_to "Back to projects", projects_path, local: true, data: { turbo: false}, class: "text-lg font-semi-bold underline hover:text-blue-700"  %>
  </div>
</div>
